# Blacklist all
/**

# Whitelist allowed
!/.gitignore
!/README.md

!/.github/
!/.github/workflows/
!/.github/workflows/build-and-publish.yml

!/data/
!/data/projects.yml

!/static/
!/static/.nojekyll
!/static/CNAME
!/static/favicon.ico

!/static/assets/
!/static/assets/css/
!/static/assets/css/custom.css
!/static/assets/css/normalize.css
!/static/assets/css/skeleton.css

!/static/assets/favicon/
!/static/assets/favicon/*

!/static/assets/img/
!/static/assets/img/bjoetiek-y.jpg
!/static/assets/img/jens.jpg
!/static/assets/img/klokracing.png
!/static/assets/img/proto-browser.png
!/static/assets/img/python.svg
!/static/assets/img/sunrise-alarm.jpg
!/static/assets/img/tuinfeest.png

!/templates/
!/templates/index.mako
