/* GENERAL STYLES */

.center-text {
    text-align: center;
}

.title {
    font-size: 2.4rem;
    line-height: 1.35;
    padding-top: 1rem;
}

.card {
    box-shadow: 0 4px 8px 0 #CCC;
    margin-bottom: 20px;
    margin-top: 30px;
}


/* SITE STYLE */


/*
.container
.main card
#contact
#avatar
#name
#interests
.title
.project card (0 to N times)
.project-logo
*/

.container,
#contact {
    margin-top: 25px;
}

#contact {
    border-bottom: 1px solid #EFEFEF;
}

#contact #avatar {
    margin-bottom: 5px;
}

#contact #avatar img {
    border-radius: 100%;
    width: 90%;
    max-width: 300px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5px;
}

#contact #name {
    font-size: 3rem;
    margin-bottom: 5px;
}

#contact #email {
    font-size: 1.2em;
    text-decoration: none;
    margin-bottom: 0;
}

#interests p.title {
    margin-bottom: 0;
}

#interests p {
    padding-left: 20px;
    padding-right: 20px;
}

.project {
    margin: 0 2rem 2rem 2rem;
}

.project .title {
    margin-bottom: 0;
}

.project .link {
    overflow-wrap: break-word;
}

.project .project-logo-box {
    display: inline-block;
    max-width: 800px;
    max-height: 200px;
}

.project .project-logo-box .project-logo {
    width: 90%;
    height: auto;
    max-width: 800px;
    max-height: 200px;
}

#to-top {
    width: 100%;
}